<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
        </mat-form-field>        

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
    
        <div class="button">
          <button type="submit" cl mat-button [disabled]="form.invalid">Login</button>
        </div>

        <p class="text-center" style="text-align: center;">OR</p>
        <div class="button">
          <button type="button" [routerLink]="'/register'" cl mat-button>Create New Account</button>
        </div>
  
      </form>
    </mat-card-content>
  </mat-card>
</div>